<div class="mid-panel" *ngIf="!done">
  <form class="login-form" [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-group">
      <mat-form-field class="full-width" color="accent">
        <input required type="text" matInput formControlName="first" placeholder="First Name">
        <div class="login-action-failure" *ngIf="submitted && f.first.errors">
          <div *ngIf="f.first.errors.required">Please enter your First Name</div>
        </div>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width" color="accent">
        <input required type="text" matInput formControlName="last" placeholder="Last Name">
        <div class="login-action-failure" *ngIf="submitted && f.last.errors">
          <div *ngIf="f.last.errors.required">Please enter your Last Name</div>
        </div>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width" color="accent">
        <input required type="text" matInput formControlName="email" placeholder="Email Address">
        <div class="login-action-failure" *ngIf="submitted && f.email.errors">
          <div *ngIf="f.email.errors.required">Please enter your Email</div>
        </div>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width" color="accent">
        <input required type="password" matInput formControlName="password" placeholder="Password">
        <div class="login-action-failure" *ngIf="submitted && f.password.errors">
          <div *ngIf="f.password.errors.required">Please enter your password</div>
        </div>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width" color="accent">
        <input required type="password" matInput placeholder="Verify Password">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="accent" class="full-width">Register</button>
    </div>
  </form>
  <div class="gap-30"></div>
  <div>
    <button mat-button color="primary" class="full-width" [routerLink]="['/login']">Return to Login!</button>
  </div>
</div>
<div class="mid-panel text" *ngIf="done">
  Registration Complete -- Now you can log in!
  <div class="gap-30"></div>
  <div>
    <button mat-button color="primary" class="full-width" [routerLink]="['/login']">Return to Login!</button>
  </div>
</div>
