<div class="banner">
  Welcome To <img src="assets/logo.png" class="logo-top"> G-I-P-H-Y
  <div class="user-block" *ngIf="loginService.currentUser | async as user">
    {{user.email}}
    <button mat-button color="accent" (click)="logout()">Logout</button>
  </div>
</div>
<router-outlet></router-outlet>
