/** Generally I like to put all colors in the main style definition and import it everywhere **/
$HEB: rgb(238, 49, 36);
$text: #333;
$accent: #ffd740;

/** General theming here **/
html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: $HEB;
}

/** General component theming **/
.banner{
  padding: 20px;
  background-color: white;
  color: rgb(238, 49, 36);
  text-align: center;
  font-size:30px;
}
.mid-panel{
  position: absolute;
  left: calc(50vw - 250px);
  width: 300px;
  top: 200px;
  padding: 100px;
  background-color: white;
  color: $text;

  border-radius: 10px;
  border: solid 1px white;
}

.full-width{
  width: 100%;
}

.gap-10{
  height: 10px;
}

.gap-30{
  height: 30px;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}

.float-right{
  float:right;
}

.float-left{
  float:left;
}

/** BORDERS **/
.bottom-border{
  border-bottom: solid 1px $text;
}

/** TEXT SIZES **/
.large-text{
  font-size: 15px;
}

.medium-text{
  font-size: 12px;
}

/** SPLIT VIEW **/
.split {
  width: 100vw;
}

.left-panel {
  left: 0;
  display: inline-block;
  width: calc(100vw - 300px);
  overflow-y:auto;
}

.right-panel {
  right: 0;
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

/** REUSABLE BLOCKS **/
.no-results-block{
  text-align: center;
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  padding-top: 60px;
  text-shadow: 1px 1px rgba(55, 55, 55, 0.25);
}

