<div class="mid-panel">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <mat-form-field class="full-width" color="accent">
        <input required type="text" matInput formControlName="email" placeholder="Email">
        <div class="login-action-failure" *ngIf="submitted && f.email.errors">
          <div *ngIf="f.email.errors.required">Please enter your email address</div>
        </div>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="full-width" color="accent">
        <input required type="password" matInput formControlName="password" placeholder="Password">
        <div class="login-action-failure" *ngIf="submitted && f.password.errors">
          <div *ngIf="f.password.errors.required">Please enter a password</div>
        </div>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="accent" class="full-width">Login</button>
    </div>
  </form>
  <div class="gap-30"></div>
  <div>
    <button mat-button color="primary" class="full-width" [routerLink]="['/register']">Sign up for H-E-B Giphy!</button>
  </div>
  <div *ngIf="failedLogin">
    <div class="gap-30"></div>
    <div class="login-action-failure center" *ngIf="failureMessage">{{ failureMessage }}</div>
  </div>
</div>
