@import '../../styles.scss';

.login-action-success{
  color: #f8f9fa;
  background: #0c731f80;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
.invalid-feedback, .login-action-failure{
  font-size: 15px;
  font-weight: bold;
  color: $HEB;
}
