@import '../../styles.scss';

.search-box{
  width: 500px;
  padding: 5px 5px 25px 5px;
  border-radius: 10px;
  border: solid 2px white;
  background-color: #fefefe;
  margin: 0 auto;
}
.search-bar{
  background-color: transparent;
}
.search-bubble{
  width: 100%;
  border-radius: 40px;
  padding-top: 10px;
}
.result-image{
  height: 200px;
}
.result-image-small{
  max-width: 200px;
}
.photo_size_select_actual{
  max-width: 300px;
  font-size: 12px;
  line-height: 20px;
}
.photo_size_select_large{
  max-width: 100px;
  font-size: 10px;
  line-height: 15px;
}
.photo_size_select_small{
  max-width: 40px;
  font-size: 8px;
  line-height: 10px;
}
.result-item{
  display: inline-block;
  padding: 10px;
  background-color: white;
  margin: 10px;
  color: $text;
  border-radius: 10px;
}
.favorites-area{
  margin-right: 10px;
  background-color: $accent;
  border-radius: 10px;
  min-height: 300px;
}
.wide-radio-button{
  padding-right: 10px;
}
.result-pagination-box{
  width: 300px;
  padding: 25px;
  border-radius: 10px;
  border: solid 2px white;
  background-color: #fefefe;
  margin: 0 auto;
  min-height: 50px;
}

.mat-button-toggle-checked {
  background-color: $accent !important;
  color: $text !important;
}
