<div class="gap-30"></div>
<div class="search-box">
  <div class="search-bar">
    <mat-form-field appearance="fill" color="warn" class="search-bubble">
      <mat-label>Search GIPHY...</mat-label>
      <input matInput [type]="text" [(ngModel)]="searchText">
      <button mat-icon-button matSuffix (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <div class="float-right">
      <button mat-flat-button matSuffix (click)="clear()">
        Start Over
      </button>
    </div>
    <mat-radio-group [(ngModel)]="searchType" color="accent">
      <mat-radio-button value="gifs" class="wide-radio-button">Gifs  </mat-radio-button>
      <mat-radio-button value="stickers" class="wide-radio-button">Stickers</mat-radio-button>
    </mat-radio-group>
    <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="viewSize">
      <mat-button-toggle value="photo_size_select_small" aria-label="Text align left">
        <mat-icon>photo_size_select_small</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="photo_size_select_large" aria-label="Text align center">
        <mat-icon>photo_size_select_large</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="photo_size_select_actual" aria-label="Text align right">
        <mat-icon>photo_size_select_actual</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<div class="gap-30"></div>
<div class="split">
  <div class="left-panel">
    <div *ngIf="giphySearchService.searchResults | async as results">
      <div *ngIf="results.data.length == 0">
        <div class="no-results-block">No Matches For {{searchText}} Found... Try A Different Search!</div>
      </div>
      <div *ngFor="let img of results.data" class="result-item">
        <img *ngIf="img.images.fixed_width" [src]="img.images.fixed_width.url" [class]="viewSize"><br>
        <div [class]="viewSize">{{img.title ? img.title : "Untitled"}} - Rated {{img.rating}}</div>
        <div class="float-right">
          <button mat-icon-button [color]="img.saved ? 'accent' : ''" (click)="favorite(img)" matTooltip="Add To Favorites">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>
      <div *ngIf="results.pagination && results.pagination.total_count > 0">
        <div class="result-pagination-box">
          <div class="center medium-text" *ngIf="results.pagination && results.pagination.total_count">Showing results {{results.pagination.offset}} - {{results.pagination.offset + results.pagination.count}} of {{results.pagination.total_count}} total results</div>
          <button class="float-left" color="primary" mat-button [disabled]="results.pagination.offset == 0" (click)="prevPage()">
            <mat-icon>navigate_before</mat-icon> Previous Page
          </button>
          <button class="float-right" color="primary" mat-button [disabled]="results.pagination.total_count <= results.pagination.offset + results.pagination.count" (click)="nextPage()">
             Next Page <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="right-panel">
    <div class="favorites-area">
      <div class="gap-10"></div>
      <div class="center large-text bottom-border">MY FAVORITES</div>
      <div class="center" *ngIf="favoritesSearchService.favoritesResults | async as results">
        <div *ngIf="results.length === 0">
          <div class="no-results-block">No Favorites Yet...</div>
        </div>
        <div *ngFor="let img of results" class="result-item">
          <img [src]="img.giphurl" class="result-image-small"><br />

          <mat-chip-list>
            <mat-chip #chipList *ngFor="let chip of img.labels" [color]="primary"
              [removable]="true"
              [selected]
              (removed)="removeLabel(chip)">
              {{chip.label}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <mat-form-field appearance="fill" color="accent" class="search-bubble">
            <mat-label>Add Label...</mat-label>
            <input matInput type="text" [(ngModel)]="img.labelText" >
            <button mat-icon-button matSuffix (click)="addLabel(img)">
              <mat-icon>add</mat-icon>
            </button>
          </mat-form-field>
          <br/>
          <button mat-icon-button (click)="share(img)" class="float-left" matTooltip="Copy this Gif URL to clipboard">
            <mat-icon>share</mat-icon>
          </button>
          <button mat-icon-button (click)="remove(img)" class="float-right" matTooltip="Remove Favorite">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
